GridBackground {
    --grid-background-color: #282828;
    --line-color: rgba(193, 196, 192, 0.1);
    --thick-line-color: rgba(193, 196, 192, 0.1);
    --spacing: 10;
    
}

Label
{
    min-width:10px;
}


.CeresPortElement.customFunction-blackboard {
    --port-color: #fabd60;
}

.customFunction-blackboard #pill #contents > #top > #title-label
{
    color: #f6e0c5;
}