.RelayNode > #node-border
{
    border-color: rgba(150, 150, 200, 1);
    border-radius: 10px;
    border-width: 2px;
}

#title
{
    display: none;
}

#contents > #top > #input, #contents > #top > #output
{
    padding: 0;
    margin: 0;
    height: 16px
}

#contents > #top > #input .connectorBox, #contents > #top > #output .connectorBox
{
    padding: 0;
    margin: 0;
}

#contents > #top > #input .unity-label
{
    display: none;
}

.hideLabels .unity-label
{
    display: none;
}

